@font-face{
    font-family: "Creepy";
    src:url("Assets/Fonts/Creepy.woff") format("woff"),url("Assets/Fonts/Creepy.woff2") format("woff2")
}

@font-face{
    font-family: "Lunacy";
    src:url("Assets/Fonts/Lunacy.woff") format("woff"),url("Assets/Fonts/Lunacy.woff2")format("woff2")
}

*{
    box-sizing:border-box;
}
body{
    margin:0;
    background: radial-gradient(#9D5900,#3D2200);
}
html{
    min-height:100vh;
    cursor: url("Assets/Cursors/Ghost.cur"),auto;
}
.heading{
    color:#FF6D00;
    font-family:Creepy,serif;
    font-weight:normal;
    text-align:center;
    font-size:6em;
}
.gameinfo{
    font-family: Lunacy,serif;
    color:#FFBB89;
    font-size:4em;
}
.card{
    height: 175px;
    width:125px;
    position: relative;
}
.gamecontainer{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin:50px;
    justify-content:center;
    perspective: 500px;
}
.gameinfocontainer{
    grid-column: 1/-1;
    display:flex;
    justify-content: space-between;
}
.cardface{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width:1px;
    border-style:solid;
    transition: transform 500ms ease-in-out;

}
 .cobweb{
    position:absolute;
    width:47px;
    height:47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}
.cardface:hover .cobweb{
    width: 52px;
    height: 52px;
}
.topleft{
    transform:rotate(270deg);
    top:0;
    left:0;
}
.topright{
    top: 0;
    right: 0;
}
.bottomleft{
    transform: rotate(180deg);
    bottom: 0;
    left:0;
}
.bottomright{
    transform: rotate(90deg);
    bottom:0;
    right:0;
} 
.spider{
    align-self: flex-start;
    transform: translateY(-10px);
    transition:transform 100ms ease-in-out;
}
.cardback:hover .spider{
  transform: translateY(0);  
}
.cardfront{
    background-color: #FFBB89;
    border-color: #333;
    transform: rotateY(180deg);
}
.cardback{
    background-color: black;
    border-color:#FF6D00;
    transform: rotateY(0);
}
.card.visible .cardback{
    transform: rotateY(-180deg);
}
.card.visible .cardfront{
    transform: rotateY(0);
}
.cardvalue{
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}
.cardfront:hover .cardvalue{
    transform: scale(1);
}
.card.matched .cardvalue{
    animation: dance 1s linear infinite 500ms;
}
@keyframes dance{
    0%, 100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform:rotate(30deg);
    }
}
.card:hover{
    cursor:url("Assets/Cursors/GhostHover.cur"),auto;
}
.overlaytext{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    font-family: Creepy, serif;
}
.overlaytext.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}
@keyframes overlay-grow{
    from{
        background-color: rgba(0,0,0,0);
        font-size:0;
    }
    to{
        background-color: rgba(0,0,0,.8);
        font-size: 10em;
    }
}
.overlaytextsmall{
    font-size:.3em;
}

@media (max-width:600px){
    .gamecontainer{
        grid-template-columns: repeat(2,auto);
    }
    .gameinfocontainer{
        flex-direction: column;
        align-items: center;
    }
}



